<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">PasswordManager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div *ngIf="loggedIn()" class="collapse navbar-collapse" [ngClass]='{"show": isExpanded}'>
                <ul class="navbar-nav mr-auto">
                    <li *ngxPermissionsOnly="['Admin']" class="nav-item" [routerLinkActive]='["link-active"]'>
                        <a class="nav-link " [routerLink]='["/users"]'>Użytkownicy</a>
                    </li> 
                    <li *ngxPermissionsOnly="['Admin','SystemUser']" class="nav-item" [routerLinkActive]='["link-active"]'>
                        <a class="nav-link " [routerLink]='["/vaults"]'>Sejfy</a>
                    </li>

                </ul>
            </div>

            <div *ngIf="!loggedIn()" class="dropdown">
                <a class="nav-link " [routerLink]='["/login"]'>Logowanie</a>
            </div>
            <div *ngIf="loggedIn()" class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                    Witaj {{authService.decodedToken?.unique_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" (click)="logout()" >Wyloguj</a>
                </div>
            </div>
        </div>
    </nav>
</header>