<h2>Uzytkownicy</h2>

<a class="btn btn-outline-primary mb-3" [routerLink]="['/user-new']" >Nowy</a>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th >
                <div>
                    Nazwa użytkownika
                </div>
            </th>
            <th >
                <div>
                    Edycja
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of users">
            <td>{{p.username}}</td>
            <td>
                <a [routerLink]="['/users-details/', p.username]">Edycja</a>
            </td>
        </tr>
    </tbody>
</table>
